.main-content {
  /* Empuja el contenido hacia la derecha el mismo ancho que tiene el Sidebar */
  margin-left: 250px; 
  padding: 24px; /* Un poco de espacio interno para que se vea bien */
  min-height: 100vh; /* Asegura que ocupe toda la altura */
  background-color: #ffffff;
}
